@import "tailwindcss";

html {
  background: linear-gradient(to bottom right, #0f172b, #020618);
}

body {
  font-family: var(--font-fraunces), serif;
  font-weight: 300;
}

h1 { 
  font-weight: bold;
}
